<%- include("headers") -%>
<style>
    li{
        padding: 20px;
        color: #00204a;
        font-size: 1.2rem;
    }
</style>
<h2 style="color: #A683E3; font-size: 30px;text-align: center; ">It is a simple server-based task management application. It allows users to manage their tasks from a smartphone, tablet and computer.</h2>
<hr style="margin:50px auto; width: 50%;">
<h3 style="text-align: center;">Do any of the following seem familiar?</h3>
<ul class="box">
<li>You often feel completely overwhelmed with the amount of work you’ve got to do?</li>
<li>You sometimes forget to do things that are important</li>
<li>People have to chase you to get things done</li>
<li>You find it a struggle to keep to deadlines</li>
</ul>

<%- include("footers") -%>